@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.form  {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: 10vh auto;
    background-color: #c3c3c3;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2%
}

.inputText {    
    margin: 0 1em;
    font-size: 1.1em;
}

.text {
    margin: 0 2em;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 1.1em;
}

.submit {
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em 2em;
    border-radius: 5   0%;
    background-color: White;
    color: coral;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
 }
  
.submit:hover {
    background-color: coral; 
    color: white;
}

.first {
    margin-top: 3em;
}